
@import url('https://api.fontshare.com/v2/css?f[]=chillax@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Steppe';
    src: url('./fonts/SteppeTrial-Regular.woff') format('woff');
    /* Adjust the file path and format if needed */
}

:root{
    --cor-primaria: #ffffff;
    --cor-secundaria: #004F44;
    --cor-terciaria: #F3fffc;
    --hoover-preto: gray;
}

* {
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    
}

header {
    display: flex;
    justify-content: space-between;
    /* Distribui o conteúdo do header nas extremidades */
    align-items: center;
    /* Centraliza verticalmente */
    background-color: var(--cor-terciaria);
    padding: 2% 5%;
    /* Espaçamento interno nas laterais */
    color: black;
}

.cabecalho__principal {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
    /* Remove margens extras */
}

.cabecalho__navegacao {
    display: flex;
    gap: 20px;
    /* Define um espaço fixo entre os links */
    align-items: center;
    /* Alinha os links verticalmente ao centro */
}

.cabecalho__navegacao__link {
    text-decoration: none;
    white-space: nowrap;
    /* Impede que os textos quebrem de linha */
    color: black;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    margin: 0 15px;
    /* Espaçamento entre os links */
    padding-bottom: 4%;
    /* Um pequeno ajuste no espaçamento inferior */
}


.resumo{
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items:start;
    padding: 15%;

}

.resumo__titulo{
    font-family: 'Chillax', sans-serif;
    font-size: 2.25rem;
    color: #EFF7F5;
}

.resumo__paragrafo{
    font-family: 'Steppe', sans-serif;
    font-size: 1rem;
    color: #EFF7F5;
}

.resumo__links{
    display: flex;
}

.resumo__links__botao{
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    font-size: 1rem;
    color: var(--cor-secundaria);
    border: 15px solid var(--cor-primaria);
    background-color: var(--cor-primaria);
}

footer{
    
    
}